function GameHandler.new 0
push constant 0
call Memory.alloc 1
pop pointer 0
push pointer 0
return
function GameHandler.startGame 6
push constant 49
call String.new 1
push constant 1056
call String.appendChar 2
push constant 8217
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1030
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 181
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1169
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1105
call String.appendChar 2
push constant 1057
call String.appendChar 2
push constant 8218
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 181
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1105
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1112
call String.appendChar 2
push constant 1057
call String.appendChar 2
push constant 1039
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1111
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 181
call String.appendChar 2
push constant 1057
call String.appendChar 2
push constant 1026
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1030
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1109
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1110
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1109
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1105
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1110
call String.appendChar 2
push constant 1057
call String.appendChar 2
push constant 1026
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1109
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1108
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 176
call String.appendChar 2
call Keyboard.readLine 1
pop local 0
push constant 49
call String.new 1
push constant 1056
call String.appendChar 2
push constant 8217
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1030
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 181
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1169
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1105
call String.appendChar 2
push constant 1057
call String.appendChar 2
push constant 8218
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 181
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1105
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1112
call String.appendChar 2
push constant 1057
call String.appendChar 2
push constant 1039
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1030
call String.appendChar 2
push constant 1057
call String.appendChar 2
push constant 8218
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1109
call String.appendChar 2
push constant 1057
call String.appendChar 2
push constant 1026
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1109
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1110
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1109
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1105
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1110
call String.appendChar 2
push constant 1057
call String.appendChar 2
push constant 1026
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1109
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 1108
call String.appendChar 2
push constant 1056
call String.appendChar 2
push constant 176
call String.appendChar 2
call Keyboard.readLine 1
pop local 1
push local 0
push constant 1
call CellValue.x 0
call Player.new 3
pop local 0
push local 1
push constant 2
call CellValue.y 0
call Player.new 3
pop local 3
push constant 3
call Board.new 1
pop local 5
push local 2
push local 3
push local 5
call Game.new 3
pop local 4
push local 5
call Board.dispose 1
pop temp 0
push constant 0
return
