function Main.main 4
push constant 50
call String.new 1
push constant 1
call CellValue.x 0
call Player.new 3
pop local 2
push constant 50
call String.new 1
push constant 2
call CellValue.y 0
call Player.new 3
pop local 3
push constant 3
call Board.new 1
pop local 1
push local 2
push local 3
push local 1
call Game.new 3
pop local 0
push local 0
push constant 1
push constant 1
call Game.makeMove 3
pop temp 0
push local 1
call Board.print 1
pop temp 0
push local 1
call Board.dispose 1
pop temp 0
call cell.dispose 0
pop temp 0
push constant 0
return
